section {
  padding-block: var(--space-lg);
}

@media (min-width: 768px) {
  section {
    padding-block: var(--space-xl);
  }
}

@media (min-width: 1024px) {
  section {
    padding-block: calc(var(--space-xl) + var(--space-md));
  }
}

section[id] {
  scroll-margin-top: 1rem;
}

@media (min-width: 768px) {
  section[id] {
    scroll-margin-top: 1rem;
  }
}