/* ================================
   CONTACT
   Mobile first
================================ */

.contact {
  position: relative;

  min-height: 100dvh;

  display: flex;
  align-items: center;

  background-image: url('../../assets/images/im-cielobig.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;

  &::before {
    content: '';

    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.12);
  }

  .container {
    position: relative;
    z-index: 2;

    width: 100%;

    margin-bottom: 6rem;
  }

  &__content {
    margin-bottom: var(--space-md);
    text-align: center;
  }

  &__title {
    margin: 0 0 var(--space-sm);

    color: var(--color-primary);

    font-family: var(--font-main);
    font-size: clamp(3rem, 13vw, 4.5rem);
    line-height: 0.95;
    text-align: center;
  }

  &__text {
    max-width: 34rem;
    margin: 1.5rem auto 0;

    color: var(--color-primary);

    font-family: var(--font-accent);
    font-size: var(--text-lg);
    font-weight: 800;
    line-height: 1.25;
    text-align: center;
  }

  &__form {
    width: min(100%, 20rem);
    margin-inline: auto;
    padding: var(--space-md);

    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    background-color: var(--color-white);
    box-shadow: var(--shadow-md);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
  }

  &__label {
    color: var(--color-primary);

    font-family: var(--font-main);
    font-size: var(--text-md);
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 0.75rem;

    border: 1px solid var(--color-gray-medium);
    background-color: var(--color-white);
    color: var(--color-black);

    font-family: var(--font-secondary);
    font-size: var(--text-md);

    transition:
      border-color 0.25s ease,
      box-shadow 0.25s ease;

    &:focus {
      outline: none;
      border-color: var(--color-primary);
      box-shadow: 0 0 0 3px rgba(0, 74, 172, 0.15);
    }
  }

  &__textarea {
    min-height: 10rem;
    resize: vertical;
  }

  &__button {
    margin-top: var(--space-sm);
    align-self: center;
  }

  &__mountain {
  position: absolute;
  left: 0;
  bottom: -10rem;

  width: 100%;
  height: auto;

  display: block;
  z-index: 3;
  pointer-events: none;
}
}

/* ================================
   TABLET / DESKTOP
================================ */

@media (min-width: 768px) {
  .contact {
    &__title {
      font-size: clamp(5rem, 8vw, 7rem);
    }

    &__text {
      max-width: 38rem;
      margin: 1.5rem auto 0;

      font-size: 2rem;
    }

    &__form {
      width: min(100%, 38rem);
      padding: var(--space-lg);
    }

      &__mountain {
  position: absolute;
  left: 0;
  bottom: -15rem;

  width: 100%;
  height: auto;

  display: block;
  z-index: 3;
  pointer-events: none;
}
  }
}