@use '../../styles/abstracts/mixins' as *;

/* JOIN --- Mobile first */

.join {
  min-height: 100dvh;
  padding-block: var(--space-lg);

  display: flex;
  align-items: center;

  background-color: var(--color-white);

  .container,
  &__container {
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-lg);
  }


  &__left {
    width: 100%;
    padding-inline: var(--space-md);

    text-align: left;
  }

  &__title {
    margin: 0 0 var(--space-md);

    color: var(--color-primary);

    font-family: var(--font-main);
    font-size: clamp(4rem, 15vw, 6rem);
    line-height: 0.9;
    text-transform: lowercase;
    text-align: center;
  }

  &__text {
    max-width: 18rem;
    margin: 0 auto;

    color: var(--color-black);

    font-family: var(--font-accent);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
  }


  &__right {
    position: relative;

    width: min(100%, 18rem);
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: min(100%, 15rem);
    aspect-ratio: 1 / 1;

    display: block;

    object-fit: cover;
  }



  &__decoration {
    position: absolute;
    top: -2.2rem;
    right: 0.5rem;

    width: 5rem;
    height: auto;
  }


  &__button {
    margin-top: var(--space-md);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 15rem;
  }

  /* breakpoint --- MOBILE */

  @include mobile {
    &__right {
      width: min(100%, 20rem);
    }

    &__image {
      width: min(100%, 16rem);
    }

    &__decoration {
      right: 1rem;
    }
  }

  /* breakpoint --- TABLET */

@include tablet {
  padding-block: var(--space-xl);

  .container,
  &__container {
    width: min(100% - 10rem, 60rem);
    min-height: 100dvh;
    margin-inline: auto;

    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--space-lg);

    align-items: center;
  }

  &__left {
    align-self: start;

    padding-inline: 0;
    padding-top: 6rem;

    text-align: center;
  }

  &__title {
    margin-top: 2.5rem;
    margin-bottom: var(--space-md);

    font-size: clamp(5rem, 8vw, 7rem);
    line-height: 0.95;
  }

  &__text {
    max-width: 24rem;
    margin: 0 auto;

    font-size: clamp(1.8rem, 2.5vw, 2.4rem);
    line-height: 1.3;
    text-align: center;
  }

  &__right {
    width: min(100%, 28rem);
    margin-inline: auto;

    gap: var(--space-md);
  }

  &__image {
    width: min(100%, 22rem);
  }

  &__decoration {
    top: -2.5rem;
    right: -2.5rem;

    width: 6rem;
  }

  &__button {
    width: min(100%, 19rem);
    min-height: 4rem;
    margin-top: 0;

    font-size: 2rem;
  }
}
  /* breakpoint --- LAPTOP */

  @include laptop {
    .container,
    &__container {
      width: min(100%, 50rem);
      gap: var(--space-xl);
    }

    &__left {
      padding-inline: 0;
    }

    &__title {
      margin-top: 0;
      font-size: clamp(6rem, 7vw, 8rem);
    }

    &__text {
      max-width: 26rem;

      font-size: 2.3rem;
    }

    &__right {
      width: min(100%, 32rem);
    }

    &__image {
      width: min(100%, 24rem);
    }

    &__decoration {
      right: -3rem;
      width: 7rem;
    }

      &__button {
    width: min(100%, 24rem);
    min-height: 4rem;
    margin-top: 0;
  }
  }

  /* breakpoint --- DESKTOP */

  @include desktop {
    .container,
    &__container {
      width: min(100%, 60rem);
    }

    &__title {
      margin-top: 0.5rem;
      font-size: clamp(6.5rem, 6vw, 8.5rem);
    }

    &__text {
      max-width: 28rem;

      font-size: 2.5rem;
    }

    &__image {
      width: min(100%, 26rem);
    }

  &__button {
    width: min(100%, 26rem);
    min-height: 4rem;
    margin-top: 0;
  }
  }

  /* breakpoint --- DESKTOP BIG */

  @include desktop-lg {
    .container,
    &__container {
      width: min(100%, 60rem);
    }

    &__image {
      width: min(100%, 28rem);
    }

    &__decoration {
      width: 7.5rem;
    }

      &__button {
    width: min(100%, 29rem);
    min-height: 4rem;
    margin-top: 0;
  }
  }

  /* breakpoint --- DESKTOP XL */

  @include desktop-xl {
    .container,
    &__container {
      width: min(100%, 90rem);
    }

    &__title {
      font-size: clamp(7rem, 4vw, 8.5rem);
      margin-top: 6rem;
    }

    &__text {
      max-width: 34rem;

      font-size: clamp(2.4rem, 2vw, 3rem);
    }

    &__right {
      width: min(100%, 42rem);
    }

    &__image {
      width: min(100%, 34rem);
    }

    &__decoration {
      width: 10rem;
      right: 0;
    }

&__button.button {
  width: min(100%, 35rem);
  min-height: 4rem;
  margin-top: 0;

  font-size: clamp(2.3rem, 2vw, 2.75rem);
}
  }
}
